extend index.pug

block content
  a(href='/polls').back-nav-button
    img(width=36, src="http://img.freepik.com/free-icon/chevron-sign-left_318-42221.jpg?size=338&ext=jpg", alt="img")

  h2.page-header
    span Voting Booth
  
  //- create new poll card
  div.card
    form(action='/vote', method='POST')
      div.card-header.pad
        h3.m0 Voting ballot
      div.card-content.pad
        h1.m0.pad= poll.title
        
        //- h4 Options
        each option in poll.options
          div.poll-item.m0.pad
            input(type="radio", name="optionId" id=option.id, value=option.id)
            label(for=option.id)= option.text

      div.card-footer.pad
        input(type='hidden', name='pollId',     value=`${poll.id}`)
        input(type='hidden', name='owner',      value=`${owner}`)
        //- else
        input(type='submit', value='Submit', disabled=poll.state !== 'opened')
        if poll.state === 'created'
          h4.m0.note Poll was not opened
        if poll.state === 'closed'
          h4.m0.note Poll was closed

  div.card.mtxl
    div.card-header.pad
      h3.m0 Actions
    div.card-content.pad
      if poll.state === 'closed'
        p.m0.pad
          | The poll was closed, check out the results!
      if poll.state === 'opened'
        p.m0.pad
          | Poll is progress, we can see the results when the poll closes.
      if poll.state === 'created'
        p.m0.pad
          | Poll was created, but you can't vote yet!
          | Come back when the owner opens it.
    div.card-footer.pad
      if poll.state !== 'closed'
        form(action='/update', method='POST')
          input(type='hidden', name='pollId',    value=`${poll.id}`)
          if poll.state === 'created'
            input(type='submit', value='Open poll')
          else if poll.state === 'opened'
            input(type='submit', value='Close poll')
      else
        form(action='/stats')
          input(type='hidden', name='pollId',     value=`${poll.id}`)
          input(type='hidden', name='owner',      value=`${owner}`)
          input(type='submit', value='Show results')
